<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Vitor Campos</title>
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon-16x16.png">
    <link rel="manifest" href="~/images/site.webmanifest">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/vitormcampos.UI.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body class="background-color-1 vh-100">
<div class="container-fluid p-3">
    <ul class="nav sticky-top justify-content-end">
        <li class="nav-item">
            <a class="nav-link @(Context.Request.Path.ToString().Contains("index") ? "text-purple-300" : "text-white")"
               href="/index">
                <h5>Home</h5>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(Context.Request.Path.ToString().Contains("sobre") ? "text-purple-300" : "text-white")"
               href="/sobre">
                <h5>Sobre</h5>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(Context.Request.Path.ToString().Contains("habilidades") ? "text-purple-300" : "text-white")"
               href="/habilidades">
                <h5>Habilidades</h5>
            </a>
        </li>
        @* <li class="nav-item"> *@
        @*     <a class="nav-link @(Context.Request.Path.ToString().Contains("experiencia") ? "text-purple-300" : "text-white")" *@
        @*        href="/experiencia"> *@
        @*         <h5>Experiência</h5> *@
        @*     </a> *@
        @* </li> *@
        @* <li class="nav-item"> *@
        @*     <a class="nav-link @(Context.Request.Path.ToString().Contains("contato") ? "text-purple-300" : "text-white")" *@
        @*        href="/contato"> *@
        @*         <h5>Contato</h5> *@
        @*     </a> *@
        @* </li> *@
    </ul>
</div>
<div class="container h-100">
    <main role="main" class="pb-3 h-100">
        @RenderBody()
    </main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>